@charset "utf-8";
/*	-------------box弹窗样式-----20160312by houhaixiaofeixia------------------------ */
.sidr-right {
	position: fixed;
	height: 100%;
	z-index: 998;
	background-color:#fff;
	-webkit-box-shadow:0px 0px 10px #6a6a6a; 
	box-shadow:0px 0px 10px #6a6a6a;
	right:0;
}
#hzyt_div,#right_go1 {
	position: fixed;
	height: 100%;
	z-index: 998;
	background-color:#fff;
	-webkit-box-shadow:0px 0px 10px #6a6a6a; /* For Chrome5+, Safari5+ */
	box-shadow:0px 0px 10px #6a6a6a;
	right:-800px;	
}
#hzyt_div {
	right:-800px;	
}
#right_go1 {
	right:-900px;	
}
.myt_tit {
	background-color: #fff;
	clear: both;
	float: left;
	height: 58px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dfe4e9;
}
.myt_name {
	font-size: 18px;
	color: #939eac;
	float: left;
	height: auto;
	width: auto;
	margin-left: 15px;
	margin-top:18px;
}
.myt_close{
	float: right;
	height: 58px;
	width: 38px;
	z-index: 999;
	right: 5px;
	background-image: url(../img/myt_close.png);
	background-repeat: no-repeat;
	background-position: center center;
	position:absolute;
}
.myt_close:hover {
	background-image: url(../img/myt_close0.png);
}
/*.myt_close {
	float: right;
	height: 58px;
	width: 38px;
	position: fixed;
	z-index: 999;
	right: 5px;
	background-image: url(../img/myt_close.png);
	background-repeat: no-repeat;
	background-position: center center;
}*/
.myt_con {
	clear: both;
	float: left;
	height: auto;
	width: 100%;
	overflow:auto;
}
