/* CSS Document */
.div_width{width:70%;}
.div_width select{float:left;} 
.selectms1{width:206px;height:24px;border:1px solid #d6d6de;background:#f9f9f9;}
.lc_s3{height:50px;background:#fff;line-height:50px;}
.1c_s2{height:50px;line-height:50px;background:#fff;}
.lc_in_m{float:left;}
.divright{color:#505459;font-size:13px;float:right;line-height:50px;}
.lc_in_sel_m1{width:206px;height:24px;background:#f9f9f9;border:1px solid #d2d6d9;margin-left:12px;text-indent:2px;font-size:12px;color:#3c3d42;}
.leftg{margin-left:8px;}
.lc_in_sel{margin-left:8px;}
.leftg{width:210px;}
.inputs{width:54px;height:24px;background:#4dcd70;color:#fff;line-height:24px;}
.divright input{position:relative;top:1px;}
.formpp label:nth-child(1){margin-right:30px;}
.formpp label:nth-child(2){margin-right:30px;}
.formpp label:nth-child(3){margin-right:6px;}
.trclass{background:#d5d9e2;}
.trclass tr td{border-right:1px solid #cac9ce;}
.tbody{border-right:1px solid #b7b8bd;}
.spanred{color:#f1374c;}
.tab_in2{line-height:57px;color:#1b1b1b;font-size:14px;}
.shul{margin-left:20px;}
.shul1{margin-left:42px;}
.shul2{margin-left:40px;}
.spanheighgt{display:inline-block;}
.box_con{width:510px;}
.hj_t2{width:510px;}
.spancolor{color:#f78e57;margin-left:20px;position:relative;top:4px;}
.spanmargin{margin-left:7px;font-size:12px;color:#575859;}
.select01{width:248px;height:34px;border:1px solid #d8d8d8;font-size:12px;color:#3f4450;text-indent:4px;margin-top:17px;margin-left:36px;}
.divbox_con5{margin-top:17px;}
.select02{width:123px;height:34px;border:1px solid #d2d6d9;margin-left:36px;text-indent:4px;}
.select03{width:80px;height:34px;border:1px solid #d2d6d9;margin-left:7px;text-indent:4px;}
.input02{width:291px;height:71px;border:1px solid #d2d6d9;margin-left:60px;margin-top:5px;font-size:12px;color:#575859;text-indent:11px;}
.textent{text-indent:11px;}
.leftgy{margin-left:52px;}
.box_con{overflow:auto;}
.sidr-right{top:-1px;}
/*侧推*/
.myt_name1{margin-left:20px;}
.myt_name{margin-top:20px;}
.myt_name1{float:left;}
.myt_name2{float:right;height:60px;line-height:60px;}
.myt_name2 li{float:left;}
.myt_name2 li a{color:#a4adb8;font-size:13px; cursor:pointer;}
.myt_name2 li a:hover{color:#ff8d52;}
.myt_name2 li:last-of-type{margin-right:80px;}
.myt_name2li{margin-right:20px;}
.myt_con{width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;padding:0 17px;}
.myt_condiv{width:100%;height:130px;margin-top:10px;}
.myt_conp{margin-top:26px;margin-left:14px;font-size:16px;color:#161616;}
.myt_conul li{float:left;margin-left:14px;margin-top:30px;}
.lia{float:left;color:#666666;font-size:13px;}
.forma{float:left;}
.forma input{color: #202020;margin-left: 5px;margin-top: 10px;width: 78px;height: 18px;line-height: 18px;text-indent: 2px;}
.lioa{width:236px;height:36px;line-height:36px;}
.lioa a{margin-left:3px;}
.lioa:hover{background:url(../../img/MenShi/pen.png) 200px center no-repeat,#f3f3f3;}
.lioa1{margin-left:30px;}
.myt_condiv1{position:relative;}
.dingweidiv,.dingweidiv1,.dingweidiv2{width:3px;height:40px;position:absolute;top:12px;left:0;}
.dingweidiv{background:#4dcd70;}
.dingweidiv1{background:#4dcd70;}
.dingweidiv2{background:#00a8ff;}
.myt_condiv1{height:404px;width:100%;border:1px solid #e7e9ee;margin-top:10px;}
.myt_conul1{float:left;margin-top:40px;width:335px;}
.myt_conul2{margin-left:15px;}
.myt_conul1 li:nth-child(2){margin-top:6px;}
.myt_conul1 li:nth-child(3){margin-top:6px;}
.selectcolp{color:#202020;}
.fontcolort{color:#f63545;width:78px;margin-left:5px;text-indent:1px;margin-top:9px;}
.lioax{font-size:13px;}
.lioax a{font-size:13px;}
.lioax{width:236px;height:36px;line-height:36px;}
.lioax:hover{background:url(../../img/MenShi/pen.png) 200px center no-repeat,#f3f3f3;}
.textval{margin-top:10px;width:78px;margin-left:5px;text-indent:2px;}
.yipse{margin-left:3px;margin-top:9px;}
.lia{margin-left:3px;}
.divformm{margin-top:15px;float:left;width:100%;}
.lisp{margin-left:18px;}
.label1 span{font-size:13px;color:#505459;margin-right:17px;}
.formn input{position:relative;top:1px;}
.label2{margin-left:3px;}
.formn1{margin-left:73px;margin-top:10px;}
.divclear{clear:both;margin-top:20px;float:left;width:236px;height:36px;line-height:36px;margin-left:18px;}
.valuer{color:#666666;margin-left:4px;text-indent:2px;margin-top:8px;width:78px;}
.divclear:hover{background:url(../../img/MenShi/pen.png) 200px center no-repeat,#f3f3f3;}
.liaf{color:#666666;font-size:13px;float:left;}
.buttona{clear:both;margin-top:15px;float:left;}
.alefts,.alefts1{width:80px;height:30px;display:inline-block;font-size:14px;color:#fff;text-align:center;line-height:30px;}
.alefts{background:#4dcd70;margin-left:19px;margin-top:15px;}
.alefts:hover{background:#}
.alefts1{background:#00a8ff;}
.tb_foot{border-top:1px solid #e9ecf3;}

.vip_sx {
	float: left;
	height: 30px;
	width: auto;
	margin-top:15px;
}
.vip_sx a {
	font-size: 12px;
	line-height: 26px;
	color: #FFF;
	text-align: center;
	float: right;
	height: 26px;
	width: 50px;
	background-color: #4dcd70;
}
.vip_sx input {
	float: left;
	height: 26px;
	width: 125px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 12px;
	line-height: 25px;
	color: #3f4450;
	border: 1px solid #ced4e0;
}
.vip_sx small {
	font-size: 12px;
	line-height: 25px;
	color: #3f4450;
	text-align: center;
	height: 25px;
	width: 20px;
	float: left;
}
.vip_sx select {
	float: left;
	height: 26px;
	width: auto;
	border: 1px solid #ced4e0;
	margin-right: 10px;
	margin-left:10px;
	font-size: 12px;
	line-height: 26px;
	color: #333;
	min-width:150px;
}
.vip_top {
	background-color: #FFF;
	clear: both;
	float: left;
	height: 50px;
	width: 98%;
	padding-right: 1%;
	padding-left: 1%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ced4e0;
}

.v_inf {
	font-size: 14px;
	line-height: 20px;
	color: #f63545;
	clear: both;
	float: left;
	height: 20px;
	width: auto;
	margin-left: 25px;
	margin-top: 20px;
}
.v_card_no {
	clear: both;
	float: left;
	height: auto;
	width: 350px;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 20px;
}
.v_card_no span {
	font-size: 13px;
	line-height: 26px;
	color: #666;
	float: left;
	height: 26px;
	width: 70px;
}
.v_card_no input {
	font-size: 13px;
	line-height: 26px;
	color: #333;
	float: left;
	height: 26px;
	width: 160px;
	border: 1px solid #c5c5c5;
	padding-right: 4px;
	padding-left: 4px;
}
.v_card_no a {
	font-size: 13px;
	line-height: 26px;
	color: #FFF;
	text-align: center;
	float: left;
	height: 26px;
	width: 60px;
	margin-left: 5px;
	background-color: #00a8ff;
	text-decoration: none;
}
.v_card_no strong {
	font-size: 13px;
	line-height: 22px;
	color: #333;
	float: left;
	height: 22px;
	width: 140px;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c5c5c5;
	font-weight: normal;
	overflow:hidden;
}
.v_card_list {
	float: left;
	width: 158px;
	left: 85px;
	position: absolute;
	top: 112px;
	-webkit-box-shadow:0px 0px 10px #6a6a6a;
	box-shadow:0px 0px 10px #6a6a6a;
	box-shadow:0px 0px 10px #6a6a6a;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	background-color: #FFF;
	display: none;
}
.v_card_list ul {
	float: left;
	height: auto;
	width: 100%;
}
.v_card_list ul li {
	clear: both;
	float: left;
	height: auto;
	width: 100%;
}
.v_card_list ul li a {
	font-size: 12px;
	line-height: 22px;
	color: #333;
	clear: both;
	float: left;
	height: 22px;
	width: 90%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	padding-right: 5%;
	padding-left: 5%;
	text-align: left;
}
.v_card_list ul li a:hover {
	color: #FFF;
	background-color: #2689DD;
}
.v_in {
	clear: both;
	float: left;
	height: auto;
	width: 340px;
	margin-top: 20px;
	margin-left: 25px;
}
.v_in span {
	font-size: 13px;
	line-height: 26px;
	color: #666;
	float: left;
	height: 26px;
	width: 70px;
}
.v_in input {
	font-size: 13px;
	line-height: 26px;
	color: #333;
	float: left;
	height: 26px;
	width: 260px;
	border: 1px solid #c5c5c5;
	padding-right: 4px;
	padding-left: 4px;
}.v_check {
	float: left;
	height: 26px;
	width: auto;
	margin-left: 10px;
	margin-top: 34px;
}
.v_check label {
	float: left;
}
.v_check label input {
	float: left;
}
.v_check label span {
	font-size: 14px;
	line-height: 16px;
	color: #666;
	float: left;
	height: 26px;
	width: auto;
}
.vshow_in3 {
	float: left;
	height: 23px;
	width: 500px;
	margin-top:20px;
}
.vshow_in3 span {
	font-size: 14px;
	line-height: 22px;
	color: #666;
	text-align: right;
	float: left;
	height: 22px;
	width: 95px;
}
.vshow_in3 small {
	font-size: 14px;
	color: #999;
	text-align: center;
	float: left;
	width:36px;
}
.vlink {
	clear: both;
	float: left;
	height: auto;
	width: 75%;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}
.vlink a {
	font-size: 14px;
	color: #FFF;
	background-color: #2689dd;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	border-radius:2px;
}
.vlink a:hover {
	background-color: #60A9E6;
}
.v_card_no a:hover {
	background-color: #399df7;
}
.vshow_sel2 {
	font-size: 13px;
	color: #333;
	float: left;
	height: 26px;
	width: 260px;
	border:1px solid #c5c5c5;
	padding-right: 4px;
	padding-left: 4px;
	line-height: 26px;
}
.vshow_sel3 {
	font-size: 13px;
	color: #333;
	float: left;
	height: 26px;
	width: 112px;
	border:1px solid #c5c5c5;
	padding-right: 4px;
	padding-left: 4px;
	line-height: 26px;
}
.myt_con2 {
	clear: both;
	float: left;
	height: 100px;
	width: 100%;
	overflow:auto;
}
.fontcolor{color:#666;font-size:13px;}
.divms{margin-top:20px;margin-left:15px;}
.pfontms{margin-top:20px;}
.spanms{margin-left:6px;color:#212121;}


/*------------------------------------------*/
.vip_labelio{
	position: relative;
}
.vip_Mdivbg{
	top:1px;
	left: 2px;
}
.vip_Mdivbg1{
	top:2px;
	left: 2px;
}
.vip_labelio input{
	opacity: 0;
	position: relative;
    left: 3px;
}
.v_check label .Mdivbg {
	width: 16px;
	height: 16px;
	top: 5px;
	left: -2px;
	position: absolute;
	background: url(../../img/check-bgb.png) no-repeat;
	display: inline-block;
}
.formpp .labelinput{position:relative;left:0;}
.formn .inputp1{position:relative;top:0;left:2px;}
.v_check label .Mdivbg01 {
	background: url(../../img/check-bga.png) no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
}
.v_check label .vip_Mdivbg2{
	top: 1px;
	left: 1px;
}
.label1 .vip_Mdivbg2{
	margin-right: 0;
	top:1px;
	left: 1px;
}
.vip_formn{
	overflow: hidden;
}


.vip_tb{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	overflow-x:auto;
}

#vip_sele{
	margin-left: 0;
	margin-right: 0;
}
