@charset "utf-8";
/* CSS Document */
.pc_c0 {
	background-color: #FFF;
	clear: both;
	float: left;
	height: 50px;
	width: 100%;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #288cd8;
}
.pc_sel {
	float: left;
	height: auto;
	width: auto;
}
.pc_top_sel {
	font-size: 14px;
	line-height: 20px;
	color: #1d75bb;
	float: left;
	height: 20px;
	width: auto;
	background-image: url(../img/pc_top_sel.png);
	padding-right: 15px;
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
}
.pc_top_show {
	float: left;
	height: auto;
	width: 240px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #dfdfdf;
	border-right-color: #dfdfdf;
	border-bottom-color: #dfdfdf;
	border-left-color: #dfdfdf;
	-webkit-box-shadow:0px 0px 10px #6b6b6b;
	box-shadow:0px 0px 10px #6b6b6b;
	box-shadow:0px 0px 10px #6b6b6b;
	position:absolute;
	z-index:1;
	margin-left:40px;
	background-color:#fff;
	display: none;
	top: 90px;
}
.pc_top_show li {
	clear: both;
	float: left;
	height: 30px;
	width: 240px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dfdfdf;
}
.pc_top_show li a {
	font-size: 14px;
	line-height: 30px;
	color: #333;
	float: left;
	height: 30px;
	width: 210px;
	padding-right: 15px;
	padding-left: 15px;
}
.pc_dat_btn {
	font-size: 14px;
	line-height: 20px;
	color: #005699;
	text-decoration: underline;
	float: right;
	height: 20px;
	width: auto;
	margin-right: 20px;
	margin-top:16px;
}
.pc_dat_show {
	text-align: center;
	float: left;
	height: 30px;
	width:330px;
	margin-top:18px;
	margin-left: -200px;
}
.pc_dat_show a {
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.pc_dat_show span {
	font-size: 18px;
	line-height: 30px;
	color: #005699;
	text-align: center;
	height: 30px;
	padding-right: 30px;
	padding-left: 30px;
	cursor:pointer;
}
.pc_c1 {
	float: left;
	height:auto;
	width: 7.9%;
	background-color:#fff;
	border:1px solid #d8dee5;
}
.pc_c2 {
	float: left;
	height:auto;
	width: 91.3%;
	background-color:#f9f9f9;
}
.pc_c2_top {
	background-color: #FFF;
	clear: both;
	float: left;
	height: 55px;
	width: 100%;
	margin-left: 0.5%;
	border: 1px solid #d8dee5;
	border-bottom:none;
	border-right:none;
}
.pc_ca {
	float: left;
	height: auto;
	width: 100%;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #cfcfcf;
}
.pc_ca li {
	clear: both;
	float: left;
	height: 50px;
	width: 100%;
	background-image: url(../img/MenShi/pc_ca_arrow.png);
	background-repeat: no-repeat;
	background-position: 95% center;
	color: #FFF;
}
.pc_ca li:hover {
	background-color:#ff8849;
	color: #FFF;
	background-image: url(../img/MenShi/pc_ca_arrow0.png);
}
.pc_ca_a {
	font-size: 13px;
	line-height: 49px;
	color: #333;
	float: left;
	height: 49px;
	width: 80%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cfcfcf;
	text-align: center;
}
.pc_c2_con {
	clear: both;
	float: left;
	height:auto;
	width: 100%;
	background-color:#fff;
}
.pc_c2_table {
	clear: both;
	float: left;
	height: auto;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #ced4e0;
	border-radius: 2px;
	overflow-x:auto;
	margin-left:0.5%;
	border-right:none;
}
.pc_c2_search {
	float: left;
	height: auto;
	width: 300px;
	margin-top:15px;
	margin-left: 8px;
}
.pc_c2_search input {
	float: left;
	height: 26px;
	width: 225px;
	border: 1px solid #ced4e0;
	font-size: 12px;
	line-height: 26px;
	color: #333;
	padding-right: 4px;
	padding-left: 4px;
}
.pc_c2_search a {
	color: #FFF;
	text-align: center;
	float: left;
	height: 26px;
	width: 55px;
	font-size: 12px;
	line-height: 26px;
	background-color:#4dcd70;
}
.pc_cb {
	background-color: #f7f7f7;
	float: left;
	width: 410px;
	border: 1px solid #dadada;
	position: absolute;
	margin-left: 6.9%;
	height: auto;
	display: none;
	z-index: 2;
	margin-top: -1px;
}
.pc_cb_a {
	background-color: #f7f7f7;
	background-image: none;
	float: left;
	height: 40px;
	width: 82px;
	font-size: 12px;
	color: #333;
	padding-top: 10px;
	text-align: center;
	padding-bottom: 10px;
}
.pc_cb_a span {
	clear: both;
	float: left;
	height: 20px;
	width: 82px;
}
.pc_cb_a:hover {
	color:#fff;
	background-color: #48a500;
}
.pc_cb_act {
	color:#fff;
	background-color: #ff8849;
}
.pc_cb_act:hover {
	color:#fff;
	background-color: #ff8849;
}
.pc_cb_tit {
	font-size: 12px;
	line-height: 49px;
	color: #333;
	text-align: center;
	clear: both;
	float: left;
	height: 49px;
	width: 410px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dadada;
	background-image: url(../img/pc_cb_tit_bg.png);
	background-repeat: no-repeat;
	background-position: 150px center;
}
.dr_yl {
	clear: both;
	float: left;
	height: auto;
	width: 100%;
}
.dr_yl span {
	clear: both;
	float: left;
	height: 20px;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	color: #FFF;
	text-align: center;
}
.dr_line {
	line-height: 2px;
	background-color: #94c9ff;
	clear: both;
	float: left;
	height: 2px;
	width: 70%;
	margin-right: 15%;
	margin-left: 15%;
	margin-top:10px;
}
.dr_jy_div {
	clear: both;
	float: left;
	height: auto;
	width: 100%;
	margin-top: 10px;
}
.dr_jy {
	float: left;
	height: auto;
	width: 50%;
}
.dr_jy strong {
	font-size: 24px;
	color: #FFF;
	text-align: center;
	clear: both;
	float: left;
	height: auto;
	width: 100%;
}
.dr_jy span {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
	text-align: center;
	clear: both;
	float: left;
	height: auto;
	width: 90%;
	text-overflow:ellipsis;
	word-break:break-all;
	padding-right: 5%;
	padding-left: 5%;
}
.dr_sy {
	background-color: #ffbb00;
	clear: both;
	float: left;
	height: 90px;
	width: 46%;
	margin-top: 10px;
	margin-right: 27%;
	margin-left: 27%;
	border-radius:5px;
}
.dr_sy span {
	font-size: 12px;
	color: #FFF;
	text-align: center;
	clear: both;
	float: left;
	height: auto;
	width: 100%;
}
.dr_sy span strong {
	font-size: 26px;
}
.ca_bg {
	background-color: #f7f7f7;
}
.pc_con {
	clear: both;
	float: left;
	height: auto;
	width: 100%;
	background-color:#fff;
	overflow:hidden;
}
.pc_act {
	float: right;
	height: 49px;
	width: 20%;
	cursor:pointer;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cfcfcf;
}
.pc_top_dz {
	float: left;
	height: auto;
	width: 370px;
	margin-top: 18px;
	margin-left: 10px;
	overflow: hidden;
}
.ca_act {
	color: #FFF;
	background-color: #ff8849;
}
.pc_sl {
	font-size: 14px;
	line-height: 20px;
	color: #333;
	float: left;
	height: 20px;
	width: auto;
	margin-left: 20px;
	margin-top:18px;
}
.pc_sl span {
	color: #2689dc;
	padding:0 5px;
}
.pc_ca_a:hover {
	color: #FFF;
}
.pc_b_xs {
	clear: both;
	float: left;
	height: 50px;
	width: 100%;
	background-color: #FFF;
}
.pc_xsd {
	font-size: 14px;
	line-height: 20px;
	color: #161616;
	float: left;
	height: 20px;
	width: auto;
	margin-left: 25px;
	margin-top: 15px;
}
.pc_xsd span {
	color: #ff3600;
	padding-right: 2px;
	padding-left: 2px;
}
.mt_btn span {
}
.date_arrow {
	background-color: #e4e4e4;
	float: left;
	height: 15px;
	width: 15px;
	position: relative;
	left: 50%;
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	z-index:101;
	margin-top:5px;
	margin-left:-8px;
}
#time_title{
	background-image: none;
}
.time_con{
	margin-left: 0.5%;
	width: 91.2%;
}
.time_top{
	width: 100%;
	height: 217px;
	padding:35px 25px;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #CFCFCF;
	color: #666666;
	font-size: 16px;
}
.time_contain{
	width: 80%;
	min-width: 627px;
}
.time_title{
	margin-bottom: 25px;
	color: #666666;
}
.time_btn{
	padding:3px 22px 18px 17px;
	box-sizing: border-box;
	border: 1px solid #CFCFCF;
	border-top: none;
	height: 62px;
}
.time_content{
	width:100%;
	height: 30px;
	margin-bottom: 14px;
}
.time_contain span{
	font-size: 13px;
}
.time_row{
	width: 100%;
	clear: both;
}
.time_row li{
	width: 33.3%;
	float: left;
}
.time_input{
	box-sizing: border-box;
	width: 103px;
	height: 28px;
	border: 1px solid #CFCFCF;
	font-size: 13px;
	padding: 4px;
}
.time_row1{
	min-width:720px;
	width:auto;
	clear: both;
}
.time_row1 input{
	float: left;
}
.time_row1 span{
	float: left;
}
.time_row1 li{
	width: 12%;
	float: left;
	min-width:100px;
}
.time_table{
	border: 1px solid #CFCFCF;
}
.time_table thead tr td{
	font-size: 14px;
	color: #161616;
}
.time_tb_bj{
	width: auto;
	height: 100%;
}
.time_tb_bj a{
	display: inline-block;
	box-sizing: border-box;
	width: auto;
	text-align: center;
	margin: 0;
	padding: 8px 10px 0 10px;
}

/*---------------------------------------------*/

.pc_labelio{
	position: relative;
}
.m_t_check .pc_Mdivbg{
	top:2px;
}
.pc_labelio input{
	opacity: 0;
}

.ts_labelio{
	position: relative;
}
.time_contain .ts_Mdivbg{
	top:4px;
	left: 1px;
}
.ts_labelio input{
	opacity: 0;
}
.time_contain .ts_Mdivbg1{
	top:1px;
	left: 1px;
}
.dat_act {
	color: #f36861;
	background-color: rgb(251, 146, 89);/*#fed7c2;*/
}
.work.tod_act {
	color: #f36861;
}
.pc_t {
	float: left;
	height: auto;
	width: 660;
	margin-bottom:5px;
	margin-left:15px;
}
.pc_t span {
	font-size: 13px;
	line-height: 25px;
	color: #333;
	text-align: right;
	float: left;
	height: 25px;
	width: auto;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 10px;
}
.pc_t select {
	font-size: 13px;
	line-height: 25px;
	color: #212121;
	float: left;
	height: 25px;
	width: auto;
	border: 1px solid #ced4e0;
	margin-top: 10px;
}
.pc_t input {
	font-size: 13px;
	line-height: 25px;
	color: #212121;
	float: left;
	height: 25px;
	width: auto;
	border: 1px solid #ced4e0;
	padding-right: 3px;
	padding-left: 3px;
	margin-top: 10px;
}

/*�����ų�����*/
#date_b {
	float: left;
	width: 887px;
	position: absolute;
	z-index: 1;
	height: 550px;
	top:60px;
	display: none;
	margin-left: -355px;
	left: 50%;
}
.datel {
	float: left;
	height: 520px;
	width: 99.5%;
	background-color: #FFF;
	position: absolute;
	z-index: 100;
	margin-top: 13px;
	-webkit-box-shadow:0px 0px 15px #6a6a6a;
}
.dater {
	background-color: #6eb6ff;
	float: left;
	height: 385px;
	width: 15%;
}
.dl_week {
	float: left;
	height: auto;
	width: 100%;
	clear: both;
	background-color: #e4e4e4;
}
.dl_week span {
	float: left;
	height: 55px;
	width:125px;
	font-size: 16px;
	line-height: 55px;
	text-align:center;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #fff;
	border-bottom-color: #ddd;
	background-color: #e4e4e4;
}
.work{	color:#737373;}
.work2{	color:#3d3c3c;}
.free2{	color:#ff3232;}
.dl_day {
	clear: both;
	float: left;
	height: auto;
	width: auto;
}
.date {
	float: left;
	height: 70px;
	width:125px;
	text-align: center;
	text-decoration: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
}
.date:hover{ background-color:#ececec;}
.date strong {
	font-size: 20px;
	line-height: 20px;
	clear: both;
	float: left;
	height: auto;
	width: auto;
	position: relative;
	left: 7px;
	top: 3px;
	font-weight:normal;
	color:#3d3c3c;
}
.date span {
	font-size: 12px;
	line-height: 20px;
	clear: both;
	float: left;
	height: auto;
	width: auto;
	position: relative;
	left: 7px;
	top: 3px;
	color:#a4a4a4;
}
.date small {
	font-size: 14px;
	line-height: 15px;
	color: #169e49;
	text-align: center;
	clear: both;
	float: left;
	height: 15px;
	width: auto;
	position: relative;
	margin-left: 90px;
	top: 12px;
}
.dr_week {
	font-size: 14px;
	line-height: 20px;
	color: #FFF;
	text-align: center;
	clear: both;
	float: left;
	height: 20px;
	width: 100%;
	margin-top: 20px;
}
.dr_day {
	background-image: url(../img/dr_day_bg.png);
	background-repeat: repeat-x;
	background-position: left top;
	clear: both;
	float: left;
	height: auto;
	width: 70%;
	margin-right: 15%;
	margin-left: 15%;
	margin-top:5px;
}
.date i {
	font-size: 12px;
	color: #FFF;
	background-color: #ff4433;
	text-align: center;
	height: 20px;
	width: 20px;
	position: relative;
	border-radius:15em;
	float:left;
	top:-50px;
	left:100px;
	font-style: normal;
}
.dat_act strong{color:#fff}
.dat_act span{color:#fff}
.dat_act small{color:#fff}
.dat_act2{
	background-image: url(../img/today.png);
	background-repeat: no-repeat;
	background-position: 3px 8px;
}
.day_btm {
	clear: both;
	float: left;
	height: 39px;
	width: 100%;
	border-top: 1px solid  #dcdcdc;
	top:474px;
	position: relative;
	z-index: 100;
}
.day_btm span {
	font-size: 12px;
	line-height: 20px;
	color: #737272;
	float: right;
	height: 20px;
	width: auto;
	margin-right: 10px;
	margin-top:10px;
}
.free{background-color:#fef9f5;}
.free strong{color:#ff3232}
.free span{color:#ff3232}
.free small{color:#ff3232}
/*�����ų�����*****end************/

@media(max-width:1024px){
.pc_c1 {
	float: left;
	height:auto;
	width: 12.9%;
	background-color:#fff;
	border:1px solid #d8dee5;
}
.pc_c2 {
	float: left;
	height:auto;
	width: 86.3%;
	background-color:#f9f9f9;
}
.pc_cb {
	background-color: #f7f7f7;
	float: left;
	width: 410px;
	border: 1px solid #dadada;
	position: absolute;
	margin-left: 12.5%;
	height: auto;
	display: none;
	z-index: 2;
	margin-top: -1px;
}
	}