@charset "utf-8";
/* CSS Document */
.lc_con {
	clear: both;
	float: left;
	height:75%;
	width: 99.5%;
	margin-left: 0.5%;
	margin-top: 10px;
	overflow-y:auto;
}
.zz_sx {
	background-color: #fff;
	height: 130px;
	width: 99%;
	position: absolute;
	z-index: 2;
	margin-left: 0.5%;
	-webkit-box-shadow:0px 0px 10px #444;
	box-shadow:0px 0px 10px #444;
	box-shadow:0px 0px 10px #444;
	top: 86px;
	display: none;
}
.lc_in {
	float: left;
	height: 22px;
	width: 190px;
	margin-top:11px;
	padding-right: 40px;
}
.lc_in span {
	font-size: 12px;
	line-height: 22px;
	color: #666;
	text-align: right;
	float: left;
	height: 22px;
	width: 65px;
}
.lc_in input {
	float: left;
	height: 21px;
	border: 1px solid #999;
	font-size: 12px;
	line-height: 21px;
	color: #333;
	width: 110px;
	padding:0 4px;
}
.lc_in_sel {
	font-size: 12px;
	color: #333;
	float: left;
	height: auto;
	width: 110px;
	border:1px solid #999;
	padding:2px 4px;
}
.lc_in_m {
	float: left;
	height: 22px;
	width: 270px;
	margin-top:11px;
	padding-right: 38px;
	margin-left: 5px;
}
.lc_in_m span {
	font-size: 12px;
	line-height: 22px;
	color: #666;
	text-align: right;
	float: left;
	height: 22px;
	width: 65px;
}
.lc_in_sel_m {
	font-size: 13px;
	color: #3f4450;
	float: left;
	height: auto;
	width: 180px;
	border:1px solid #999;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	background-color: #f9f9f9;
}
.lc_in_b {
	float: left;
	height: 22px;
	width: 330px;
	margin-top:11px;
	padding-right: 40px;
}
.lc_in_b span {
	font-size: 12px;
	line-height: 22px;
	color: #666;
	text-align: right;
	float: left;
	height: 22px;
	width: 65px;
}
.lc_in_sel_b {
	font-size: 12px;
	color: #333;
	float: left;
	height: auto;
	width: 251px;
	border:1px solid #999;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
}
.zz_s1 {
	clear: both;
	float: left;
	height: auto;
	width: 98%;
	margin-left: 1%;
	margin-top:10px;
}
.zz_s_btn {
	font-size: 14px;
	color: #FFF;
	background-color: #48a5ed;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: 3px;
	padding-right: 20px;
	padding-bottom: 3px;
	padding-left: 20px;
	border-radius:2px;
}
/*.zz_s_btn:hover {
	background-color: #6abcfc;
}*/
.lc_sx {
	clear: both;
	float: left;
	height: auto;
	width: 100%;
	background-color: #FFF;
	border: 1px solid #d1d4db;
}
.lc_menu {
	float: left;
	height: auto;
	width: 95%;
	margin-top:20px;
	margin-bottom: 10px;
	clear: both;
	margin-left: 10px;
}
.lc_menu li {
	float: left;
	height: auto;
	width: 110px;
	margin-right: 7px;
	margin-bottom: 7px;
}
.lc_top_a {
	font-size: 12px;
	line-height: 25px;
	color: #8391a2;
	background-color: #fff;
	color:#8391a2;
	text-align: center;
	float: left;
	height: 25px;
	width: 108px;
	border:1px solid #8391a2;
	text-decoration:none;
}
.lc_top_a:hover {
	color: #fff;
	background-color: #f78e57;
	border:1px solid #f78e57;
}
.lc_top_act {
	font-size: 12px;
	line-height: 25px;
	color: #288dda;
	background-color: #f78e57;
	color:#fff;
	text-align: center;
	float: left;
	height: 25px;
	width: 108px;
	border:1px solid #f78e57;
	text-decoration:none;
}
.lc_s1 {
	clear: both;
	float: left;
	height: auto;
	width: 100%;
	margin-top: 15px;
}
.lc_bq {
	font-size: 14px;
	line-height: 20px;
	color: #161616;
	float: left;
	height: 20px;
	width: auto;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
}
.tab_in {
	float: right;
	height: auto;
	width: 265px;
	margin-top: 3px;
}
.tab_in span {
	font-size: 12px;
	line-height: 20px;
	color: #646464;
	float: left;
	margin-top: 4px;
}
.tab_in input {
	float: left;
	height: 24px;
	width: 200px;
	margin-left: 8px;
	border: 1px solid #d1d4db;
	border-radius:2px;
	outline:none;
	padding-right: 5px;
	padding-left: 5px;
}
.tab_in2 {
	float: right;
	height: 30px;
	width: auto;
	margin-top: 17px;
	margin-right: 1%;
}
.tab_in2 span {
	font-size: 13px;
	line-height: 30px;
	color: #8391a2;
	float: left;
}
.tab_in2 input {
	float: left;
	height: 30px;
	width: 110px;
	margin-left: 8px;
	border: 1px solid #adb7c3;
	outline:none;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 14px;
	line-height: 30px;
	color: #333;
}
