/* CSS Document */
.heightyitb
{
    height: 94px;
}
.heightp
{
    height: 102px;
    margin-top: 0;
}
.footheight
{
    height: 210px;
}
.hrighti
{
    height: 105px;
    border: 1px solid #c9cdd6;
    border-bottom: none;
    height: 99%;
}
.heightio
{
    border-bottom: 1px solid #c9cdd6;
    width: 100%;
}
.divfontm1
{
    margin-top: 19px;
}
.divfontm2
{
    margin-top: 22px;
}
.heightp span
{
    margin-right: 10px;
}
.inum
{
    color: #f43958;
}
.mt_sx1
{
    right: 9px;
    width: 456px;
    height: 379px;
    z-index: 999;
    margin-top: 12px;
}
.mt_sx_arrow1
{
    margin-left: 400px;
}
.mt_sx_con1
{
    width: 425px;
    height: 378px;
}
.divms
{
    width: 204px;
}
.divs1
{
    float: left;
}
.divms select
{
    width: 98px;
    margin-left: 24px;
}
.divms span
{
    width: 54px;
    display: inline-block;
    text-align: right;
}
.mt_s1 .selectwidth
{
    width: 100px;
}
.divlabel
{
    clear: both;
}
.divlabel select
{
    width: 208px;
    height: 26px;
    background: #f9f9f9;
    border: 1px solid #ced4e0;
    margin-left: 19px;
}
.spanright
{
    color: #737373;
    font-size: 12px;
}
.form03 .spanright
{
    margin-top: 20px;
    display: inline-block;
}
.form03 label
{
    margin-left: 6px;
}
.divlabel
{
    margin-top: 6px;
    float: left;
}
.divnumd
{
    font-size: 14px;
    color: #f46077;
    clear: both;
    margin-left: 108px;
    margin-top: 10px;
    float: left;
}
.divhang
{
    clear: both;
}
.mt_s1
{
    clear: none;
}
.tab_in2
{
    color: #1b1b1b;
    font-size: 14px;
	margin-top:12px;
}
.shul
{
    margin-left: 20px;
}
.shul1
{
    margin-left: 42px;
}
.shul2
{
    margin-left: 40px;
}
.crm_sx
{
    background-color: #FFF;
    float: left;
    height: 460px;
    width: 680px;
    box-shadow: 5px 5px 5px #c1c1c1;
    border: 1px solid #d8d8d8;
    position: fixed;
    z-index: 1000;
    right: 10px;
    top: 54px;
    display: none;
}
.crm_sx li
{
    clear: both;
    float: left;
    height: auto;
    width: 640px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #afafaf;
    padding-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.crm_sx_arrow
{
    background-color: #fff;
    float: left;
    height: 12px;
    width: 12px;
    position: fixed;
    right: 30px;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    z-index: 99;
    margin-top: -6px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #d8d8d8;
    border-right-color: #FFF;
    border-bottom-color: #FFF;
    border-left-color: #d8d8d8;
}
.crm_sx1
{
    float: left;
    height: auto;
    width: 320px;
    margin-top: 20px;
}
.crm_sx1 span
{
    font-size: 13px;
    line-height: 26px;
    color: #666;
    float: left;
    height: 26px;
    width: 80px;
    text-align: right;
    margin: 0 15px 0 -15px;
}
.crm_sx1 select
{
    float: left;
    height: 26px;
    width: 100px;
    padding-right: 4px;
    padding-left: 4px;
    border: 1px solid #ced4e0;
}
.crm_sx1 small
{
    font-size: 12px;
    line-height: 26px;
    color: #666;
    float: left;
    height: 26px;
    width: 20px;
    text-align: center;
}
.crm_sx1 input
{
    float: left;
    height: 26px;
    width: 100px;
    padding-right: 4px;
    padding-left: 4px;
    border: 1px solid #ced4e0;
    box-sizing: border-box;
}
.crm_sx1 input[type=checkbox]
{
    float: left;
    height: auto;
    width: auto;
    padding-right: 4px;
    padding-left: 4px;
    margin-top: 6px;
}
.crm_sx1 input[type=radio]
{
    float: left;
    height: auto;
    width: auto;
    padding-right: 4px;
    padding-left: 4px;
    margin-top: 6px;
    margin-left: 11px;
}
.crm_sx2
{
    float: left;
    height: auto;
    width: auto;
    margin-top: 25px;
}
.crm_sx2 label
{
    font-size: 12px;
    color: #666;
    float: left;
    margin-left: 15px;
}
.crm_sx2 label input
{
    float: left;
}
.crm_sx2 label span
{
    float: left;
}
.crm_sx1_btn
{
    clear: both;
    float: left;
    height: auto;
    width: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ced4e0;
}
.crm_sx1_btn a
{
    font-size: 16px;
    line-height: 35px;
    color: #FFF;
    background-color: #ff8d52;
    text-align: center;
    float: right;
    height: 35px;
    width: 80px;
    margin-right: 20px;
    margin-top: 20px;
}
.crm_sx1_btn a:hover
{
    background-color: #ffc773;
}

.crm_sx1_btn input
{
    font-size: 16px;
    line-height: 35px;
    color: #FFF;
    background-color: #ff8d52;
    text-align: center;
    float: right;
    height: 35px;
    width: 80px;
    margin-right: 20px;
    margin-top: 20px;
}
.crm_sx1_btn input:hover
{
    background-color: #ffc773;
}
.m_cz
{
    float: left;
    height: auto;
    width: 19.7%;
    overflow: auto;
}
.m_cy
{
    float: right;
    width: 79.7%;
    overflow: auto;
}
.m_cz2
{
    float: left;
    height: auto;
    width: 34.7%;
    overflow: auto;
}
.m_cy2
{
    float: right;
    width: 64.7%;
    overflow: auto;
}
.m_cz, .m_cy, .m_cz2, .m_cy2, .m_cz3, .m_cy3
{
    background-color: #fff;
}

.tj_table
{
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}
.m_cz3
{
    float: left;
    width: 100%;
    overflow: auto;
    clear: both;
    height: 56.7%;
}
.m_cy3
{
    margin-top: 0.5%;
    float: left;
    height: 23%;
    width: 100%;
    overflow: auto;
    clear: both;
}
.mcz3_bot
{
    clear: both;
    float: left;
    height: 6%;
    width: 100%;
    background-color: #FFF;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e1e1e1;
    min-height: 35px;
}
.mt_btn .colo {
    color: #ff8d52;
}
@media screen and (max-width: 1100px){
	.divfontm2 {
		margin-top: 0px;
	}
	.heightp span {
		margin-bottom: 10px;
	}
}
.crm_sx_arrow.crm_sx_arrowf{right:36px;}
.crm_sx_arrow.crm_sx_arrowh{right:36px;}
.crm_sx_arrow.crm_sx_arrowfg{right:30px;}
.crm_sx_arrow.crm_sx_arrowjh{right:30px;}
.crm_sx_arrow.crmn{right:36px;}
@media screen and (max-width: 1024px) {
    .m_cz2{
        width: 34%;
    }
    .m_cy {
        width: 74%;
    }
    .m_cz {
        width: 25%;
    }
    .divfontm2 {
        margin-top: 0px;
    }
    .heightp span {
        margin-bottom: 10px;
    }
    .heightp {
        height: 145px;
    }
    .footheight {
        height: auto;
    }
    .m_cz3 {
        height: 42%;
    }
    .m_cy3 {
        height: 35%;
    }
	.crm_sx_arrow.crm_sx_arrowf{right:20px;}
	.crm_sx_arrow.crm_sx_arrowh{right:20px;}
	.crm_sx_arrow.crm_sx_arrowfg{right:20px;}
	.crm_sx_arrow.crm_sx_arrowg{right:20px;}
	.crm_sx_arrow.crm_sx_arrowjh{right:20px;}
	.crm_sx_arrow.crmn{right:24px;}
}
@media(max-width:850px){
    /*.divfontm1{height:200px;overflow:auto;}*/
  }